.navbar {
    background-color: #377f97;
    border-radius: 8px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    margin: 10px 10px 10px 10px;
    font-weight: bolder;
    font-family: "Jura", sans-serif;
    position: sticky;
    top: 10px;
    z-index: 1;
}

.navbar-brand {
    color: white;
    margin: 0 0 0 40px;
}

.navbar-toggler {
    color: white;
}

.navbar-toggler:focus {
    outline: none !important;
    color: white;
    box-shadow: none;
}

.navbar-brand:hover {
    color: white;
}