body{
    /* background: rgb(210,229,240);
background: linear-gradient(90deg, rgba(210,229,240,1) 76%, rgba(57,181,217,1) 100%); */
/* background: rgb(224,240,245);
background: linear-gradient(90deg, rgba(224,240,245,1) 91%, rgba(130,229,251,1) 100%); */

/* 
background: rgb(238,241,242);
background: linear-gradient(90deg, rgba(238,241,242,1) 77%, rgba(143,152,154,1) 100%); */

/* background: rgb(200,228,237);
background: linear-gradient(90deg, rgba(200,228,237,1) 77%, rgba(142,224,242,1) 100%); */
}