.post-container {
    border-color: black;
    margin: 50px 50px 50px 50px;
}

.userName {
    text-align: right;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-link {
    text-decoration: none;
    color: black;
}

.card-header {
    background-color: #114d6f;
    color: white;
    /* font-family: "Jura", sans-serif;     */
}

.card-text{
    /* font-family: "Jura", sans-serif; */
    word-spacing: 5px;
}

.user {
    text-decoration: none;
    color: #1f9eb7;
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    font-weight: bolder;
}