.user-container {
    margin: 50px 50px 50px 50px;
}

.card-title {
    color: #0096C7;
    text-align: center;
    font-size: 20px;
    font-family: "Dancing Script", cursive;
    margin-top: 30px;


}

.user-card{
    width: 200px;
    background-color: #e7f1f5;
    min-height: 280px;
 
}

.card-parent{
    /* grid-template-columns: repeat(5,auto);
    display: grid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
/* 
@media screen and (max-width:1240px) {
    .card-parent{
        grid-template-columns: repeat(4,auto);
    
    }
} */

.user-image {
    width: 150px;
   text-align: center;
   /* border: 3px solid rgb(5, 64, 75); */
   /* border: 10px groove rgb(31, 91, 117); */
   border-radius: 50%;

}

.user-data-title{
    font-size: 40px ;
    font-family: "Dancing Script", cursive;
    color: #034456;

}